#spashScreen{
    height:100%;
    width:100%;
    background-color:White;
    color:Black;
    font-family: Roboto;
    font-size:3em;
    text-align:center;
    padding-top: 50%;
  padding-bottom: 50%;
}

#splashScreen p {
    
    
 

}

@font-face{
    font-family:Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}




#holder{
    height:100%;
    text-align:center;
    padding:2%;
}
body{
     background-color:#446cb3;
}

#displayValue{
    text-align:center;
    font-size:3em;
}